<section id="content">
    <div class="container-fluid">
        <div class="card">
            <div class="container">
                <h2 class="text-center">Hi, WelCome</h2>
                <div class="panel panel-default">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <zingchart id="myChart" zc-json="myJson" zc-height=500 zc-width=600></zingchart>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <zingchart id="myChart1" zc-json="myJson1" zc-height=500 zc-width=600></zingchart>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <zingchart id="myChart2" zc-json="myJson2" zc-height=500 zc-width=600></zingchart>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <zingchart id="myChart3" zc-json="myJson3" zc-height=500 zc-width=600></zingchart>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <zingchart id="myChart4" zc-json="myJson4" zc-height=500 zc-width=600></zingchart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>